<div class="col-md-12">
  <h2>Список користувачів</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th></th>
      <th>Пошта</th>
      <th>Підтверження</th>
      <th>Вік</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td class="hidden">{{user.id}}</td>
      <td>
        <img [src]="user.image" width=50 />
      </td>
      <td>{{user.email}}</td>
      <td>{{user.emailConfirmed}}</td>
      <td>{{user.age}}</td>
      <td><button (click)="editUser(user)">Edit</button></td>
      <td><button (click)="deleteUser(user)">Remove</button></td>
    </tr>
    </tbody>
  </table>


</div>


<modal id="user-edit-modal">
  <div class="modal">
      <div class="modal-body">
          <h1>Edit user!</h1>
          <p>
              Email: <input type="text" [(ngModel)]="editedUser.email" />
          </p>
          <p>
            Age: <input type="text" [(ngModel)]="editedUser.age" />
          </p>
          <button (click)="closeModal('user-edit-modal');">Close</button>
      </div>
  </div>
  <div class="modal-background"></div>
</modal>